<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Home | My article</title>
</head>

<body >
<div sec:authorize="hasRole('Member')">

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark" th:fragment="header">
        <a href="/" class="navbar-brand">Book Barn</a>
        <div  class="navbar-collapse collapse w-100 order-3 dual-collapse2"  id="navbarSupportedContent2">
            <!--<a href="/" class="brand-logo brand-text">Book Barn</a>-->
            <ul id="nav-mobile2" class=" float-end logout navbar-nav mr-auto">
                <li style="color: aliceblue" class="white-text">You are logged in as
                    <span style="color: azure" th:text="${#authentication.name}+'&nbsp'" />
                </li>
                <li class="white-text"><a  type="button" href="/searchCatalog" class="btn btn-outline-info float-right">Search Catalog</a><span>&nbsp;</span></li>
                <li class="float-end"><a type="button" href="/member/dashboard" class="btn btn-outline-info float-right">Dashboard</a><span>&nbsp;</span></li>
                <li class="float-end"><a type="button" href="/member/personalInfo" class="btn btn-outline-info float-right">Personal Profile</a><span>&nbsp;</span></li>
                <li><form  class="float-end" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-info float-right" type="submit" value="Logout"/>
                </form></li>
            </ul>
        </div>
    </nav>

</div>
<div class="container">
    <h1>Hello World</h1>
</div>
</body>

</html>